/* Custom CSS for the sidebar */
.sidebar {
  height: 100vh; /* Set sidebar height to 100% of the viewport */
  background-color: #333; /* Background color for the sidebar */
  color: #fff; /* Text color */
  padding-top: 20px; /* Optional: Add padding at the top */
}

.sidebar_nested {
  height: 50vh; /* Set sidebar height to 100% of the viewport */
  background-color: #333; /* Background color for the sidebar */
  color: #fff; /* Text color */
  padding-top: 20px; /* Optional: Add padding at the top */
}
}
/* Style the navigation links in the sidebar */
.sidebar a {
  color: #fff; /* Link text color */
}

.map-container {
  height: 20vh;
}
